@use '../base/typography' as t;

@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.preview-card {
    border: 1px solid;
    min-width: 70%;
    max-width: 34rem;
    margin: 0 auto;

    &--sedans {
        background-color: v.$bright-orange;
    }

    &--suvs {
        background-color: v.$dark-cyan;
    }

    &--luxury {
        background-color: v.$very-dark-cyan;
    }

    &__title {
        font-family: 'Big Shoulders Display', sans-serif;
    }

    &__text {
        font-size: t.$body-font-size;
        color: v.$transparent-white;
    }

    &__text,
    &__button {
        font-family: 'Lexend Deca', sans-serif;
    }

    &__title,
    &__button {
        color: v.$very-light-gray;
    }
}